<div class="container-fluid faq-bg">
    <h1 class="fw-bold fs-3">FAQS</h1>
    <p class="fw-light fs-5">Road all case studies about our Work and Services.</p>
</div>

<div class="container">
    <h1 class="text-center fs-3 fw-bolder">Frequently asked questions</h1>
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <button class="toggle">
                    What is your company all about?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    What products or services do you offer?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    Where are you located?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    How do users contact customer service or support?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    How do I become a member?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="wrapper">
                <button class="toggle">
                    How can users upgrade their account?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    How do users contact sales?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    How do users check the status of an order?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    What is the return policy?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">
                    Where can user buy your product?
                    <i class="fa-solid fa-plus icon"></i>
                </button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et reiciendis amet accusamus repudiandae?
                        Vero, reprehenderit. Voluptate quo quos est beatae tempora iure ullam repellat vero reprehenderit a,
                        nam dolore libero?</p>
                </div>
            </div>
        </div>
    </div>
</div>