<div class="container-fluid footer">
    <div class="row mx-4 py-5">
        <div class="col ">
            <h1 class="text-white fw-bold">Sign Up For Newsletters</h1>
            <p class="text-color">Get E-mail updates about our latest shop and <span class="text-yelo">special
                    offers.</span></p>
        </div>
        <div class="col ">
            <div class="input-group mt-4 w-75">
                <input type="search" class="form-control rounded-start" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-success w-25 rounded-end" data-mdb-ripple-init>Sign Up</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!-- Footer -->
<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 shadow rounded-circle" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 shadow rounded-circle" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 shadow rounded-circle" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 shadow rounded-circle" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 shadow rounded-circle" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 shadow rounded-circle" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control"  placeholder="Email address">
                <!-- <label class="form-label" for="form5Example24">Email address</label> -->
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4 shadow">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
    
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <section class="mb-4 text-start">
                <h3><i class="fa-solid fa-gem "></i>COMPANY NAME</h3>
                <p class="text-start">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                  repellat quaerat voluptatibus placeat nam.
                </p>
              </section>
            </div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-start">Pages</h5>
  
            <ul class="list-unstyled mb-0 text-start ">
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">Home</a>
              </li>
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">About</a>
              </li>
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">FAQ</a>
              </li>
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">Contact</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-start">Products</h5>
  
            <ul class="list-unstyled mb-0 text-start ">
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">Android/IOS Mobile</a>
              </li>
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">Watchs</a>
              </li>
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">HeadPhone</a>
              </li>
              <li class="mb-3">
                <a class="text-body footer-link" href="#!">Others</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-start ">Contact</h5>
  
            <ul class="list-unstyled mb-0 text-start text-start">
              <li>
                <a class="text-body footer-link" href="#!"><i class="fa-solid fa-house me-2 mb-3"></i>Punj Peer Jhang Road Faisalabad</a>
              </li>
              <li>
                <a class="text-body footer-link" href="#!"><i class="fa-solid fa-envelope me-2 mb-3"></i>uzairmian395gmail.com</a>
              </li>
              <li>
                <a class="text-body footer-link" href="#!"><i class="fa-solid fa-phone me-2 mb-3"></i>+923077768525</a>
              </li>
              <li>
                <a class="text-body footer-link" href="#!"><i class="fa-solid fa-earth-americas me-2 mb-3"></i>https://MUBrand.com</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="#">MU Brand</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <!-- Footer -->
  <!-- Footer -->
</div>