<div class="container-fluid about-bg">
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet consectetur.</p>
</div>

<div class="container my-5">
  <div class="row mb-4">
      <div class="col-6">
          <img src="/assets/images/a6.jpg" alt="payment-type" class="img-fluid rounded" width="100%" height="80%">
      </div>
      <div class="col-6 mt-5 pt-5 ps-2">
          <h1 class="fs-1 fw-semibold">Who We Are?</h1>
          <p class="fs-5 fw-light lh-base text">
              Lorem ipsumm dolor sit amet consectetur adipisicing elit. Temporibus natus voluptates nihil obcaecati sit repellendus hic, nesciunt quia voluptate mollitia vel nam in dolores facere ratione eos consequuntur eaque officiis?
          </p>
          <p class="text fs-5 fw-light lh-base">
              Lorem ipsum dolor sit amet. Lorem, ipsum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          </p>

          <marquee behavior="" direction="left" class="fs-5" style="background-color: grey; padding: 4px; width: 100%;">
              Lorem ipsum dolor sit amet. Lorem, ipsum. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
          </marquee>
      </div>
  </div>
</div>