.login-bg{
    background-image: url('/assets/images/login-bg1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: 0.9;
    color: #fff;
    padding: 18px;
}
.register{
    border: 1px solid #fff;
    color:aqua;
    border-radius: 8px;
    padding: 10.8px;
    margin: 0;
    cursor: pointer;
    font-size: 15px;
}
  .regist-btn > a{
    text-decoration: none;
}
.register:hover{
    color:blue;
    background-color: #fff;
}
.login{
    border: 1px solid #fff;
    color:aqua;
    border-radius: 8px;
    padding: 8px;
    margin: 0;
    cursor: pointer;
     width: 80px;
    font-size: 15px;
}
.login:hover{
    color:blue;
    background-color: #fff;
}
.login-h1{
    /* background: linear-gradient(skyblue,purple);
    -webkit-text-fill-color: transparent;
    background-clip: text; */
    color: aqua;
    font-size: 55px; 
}
/* .form-label{
    color: aqua;
} */