<div class="container-fluid" id="contact-bg">
    <h1>Contact Us</h1>
    <p>LEAVE A MESSAGE, we love to hear from you</p>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col contct-text mt-5">
            <p>GET IN TOUCH</p>
            <h1>Visit one of our agency locations or contact us today</h1>
            <p>Head office</p>
            <p><i class="fa-solid fa-location-dot me-2"></i>ST # 4 Muhallah Panj Peer Jhang Road Faisalabad.</p>          
            <p><i class="fa-solid fa-envelope me-2"></i> uzairmian395gmail.com</p>
            <p><i class="fa-solid fa-phone me-2"></i>Contact (0307-77685625)</p>
            <p><i class="fa-solid fa-clock me-2"></i>Monday to Saturday 11:00 AM to 8:00 PM</p>
        </div>
        <div class="col map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d108960.96948750224!2d72.97858566769101!3d31.413291351998108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3922439e9a08c9c9%3A0x921224d1a510c469!2sNew%20National%20Foundation%20School%2C%20Muhallah%20Panj%20Peer%2C%20St%237%20Jhang%20Rd%2C%20Lakard%20Mandi%2C%20Faisalabad%2C%20Punjab%2C%20Pakistan!3m2!1d31.413165799999998!2d73.06099209999999!4m5!1s0x3922439e9a08c9c9%3A0x921224d1a510c469!2sNew%20National%20Foundation%20School!3m2!1d31.413165799999998!2d73.06099209999999!5e0!3m2!1sen!2s!4v1709203624510!5m2!1sen!2s" width="650" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<div class="container my-4 py-4 contct-msg">
    <div class="row">
        <div class="col-8">
            <p class="text-black text-start">LEAVE A MESSAGE</p>
            <h2>We love to heart form you</h2>
            <!-- form -->
            <form action="">
                <div class="mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                  </div>
                  <div class="mb-3">                   
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                  </div>
                  <div class="mb-3">
                    <input type="number" class="form-control" id="number" placeholder="Your Mob No">
                  </div>
                  <div class="mb-3">                   
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your Message" rows="3"></textarea>
                  </div>
                  <div>
                    <button class="btn btn-success w-25">Submit</button>
                  </div>
            </form>
        </div>
        <div class="col">
            <div class="row ms-5 ps-5">
                <div class="col py-2">
                    <img src="/assets/images/1.png" alt=""><span class="ms-2">AbduRehman</span>
                </div>
            </div>
            <div class="row ms-5 ps-5">
                <div class="col py-2">
                    <img src="/assets/images/2.png" alt=""><span class="ms-2">Uzair</span>
                </div>
            </div>
            <div class="row ms-5 ps-5">
                <div class="col py-2">
                    <img src="/assets/images/girl.png" alt=""><span class="ms-2">Laiba</span>
                </div>
            </div>
        </div>
    </div>
</div>