<div class="container-fluid">
    <div class="row mt-4 mb-5 mx-3">
        <div class="col brands shadow me-3">
           <img src="/assets/images/f1.png" alt=""> 
           <h6 class="text-center mt-3 p-2">Free Shopping</h6>
        </div>
        <div class="col brands shadow me-3">
            <img src="/assets/images/f2.png" alt=""> 
            <h6 class="text-center mt-3 p-2" style="background-color: #cdebbc;">Online Orders</h6>
        </div>
        <div class="col brands shadow me-3">
            <img src="/assets/images/f3.png" alt=""> 
            <h6 class="text-center mt-3 p-2" style="background-color: #d1e8f2;">Save Money</h6>
        </div>
        <div class="col brands shadow me-3">
            <img src="/assets/images/f4.png" alt=""> 
            <h6 class="text-center mt-3 p-2" style="background-color: #cdd4f8;">Promotions</h6>
        </div>
        <div class="col brands shadow me-3">
            <img src="/assets/images/f5.png" alt=""> 
            <h6 class="text-center mt-3 p-2" style="background-color: #f6dbf6;">Happy Sell</h6>
        </div>
        <div class="col brands shadow me-3">
            <img src="/assets/images/f6.png" alt=""> 
            <h6 class="text-center mt-3 p-2" style="background-color: #fff2e5;">24/7 Support</h6>
        </div>
    </div>
</div>